@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kablammo&display=swap');

body {
    font-family: "Kablammo", cursive, Arial, Helvetica, sans-serif;
    background: url("../images/sand.jpg") no-repeat center center fixed;
    background-size: cover;
    /* "Bad Script" */
}

img {
    width: 100%;
}

.wrapper__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper__item {
    position: relative;
    padding-right: 2%;
    width: 20%;
}

.wrapper__item--spec {
    padding: 80px 0;
    width: 100%;
    font-family: "Kablammo";
    font-size: 5vw;
    color: #000080;
    text-align: center;
    transition: all 2s;
}

.dream {
    display: none;
}

.wrapper__item:hover .dream {
    display: inline;
    position: absolute;
    width: 100%;
}
.wrapper__item--mod:hover .dream {
    right: 100%;
}
.dream-title {
    margin: -38% 0 0 25%;
    font-size: 1.8vw;
}
.wrapper__item--spec:hover {
    font-size: 8vw;
    color: #d37325;
    transition: all 0.5s;
}