@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Pacifico&family=Rubik+Microbe&display=swap');

body {
    background-image: url(../images/index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}